<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template Flia</title>
</head>
<body>
    <p>
        'Se genero familiar {{name}} con el parentesco {{parentesco}} y el dni {{dni}}'
    </p>
    <h3>
        Nombre Familiar: {{name}}
        
    <h3>
        Parentesco Familiar: {{parentesco}}
    </h3>
    <h3>
        D.N.I: {{dni}}
    </h3>

    </p>
</body>
</html>